$red: #d25454;

* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", "Arial";
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: inherit;
    }

    i {
        vertical-align: middle;
    }
}


body {
    width: 8.5in;
    height: 11in;
    margin: 10px;
    border: 1px solid black;

    li {
        list-style: none;
    }

    header {
        padding: 0 0.35in;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 1in;
        background-color: $red;
        width: 100%;
        color: white;
    }

    #columns {
        width: 95%;
        margin: 5% 5%;
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 5%;

        li {
            font-size: 14px;
        }

        .bullet {
            font-family: 'Fira Code';
            color: $red;
        }

        .subtitle {
            font-size: 15px;
            font-style: italic;
            margin-bottom: 6px;
        }

        .section {
            margin-bottom: 20px;

            .subsection {

                margin-bottom: 15px;

                .description {

                    li {
                        margin-bottom: 5px;
                        line-height: 16px;
                    }
                } 

                .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &.no-subtitle {
                        margin-bottom: 6px;
                    }

                    p {
                        font-size: 14px;
                        padding: 2px 5px;
                        margin: 2px 0;
                        display: inline-block;
                        background-color: #EEEEEE;
                        border-radius: 4px;
                        color: darker(#EEEEEE, 0.5);

                        span {
                            color: $red;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .languages-list  {
            margin: 5px 0;

            li {
                padding: 2px 5px;
                margin: 2px 0;
                display: inline-block;
                background-color: #EEEEEE;
                border-radius: 4px;
            }
        }
    }


}
